body {
	background-color: #fafafa;
}
body.log {
	margin: auto;
	width: 30%;
	padding: 10px;
}
.welcome {
	color: #4d7358;
	font-family: Verdana;
	font-size: 30px;
	text-align: center;
}
#title {
	color: #9ed670;
	font-weight: bold;
}
.header {
		
	margin-top: 10%;
	padding: 10px;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
.form {
	margin: auto;
	width: 80%;
	border-style: solid;
	border-width: thin;
	border-color: #b0afaf;
	padding: 15px;
	text-align: center;
	font-size: 16px;
	font-family: Verdana;
}
input {
	color: #b0afaf;
	width: 80%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #9ed670;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
}

input[type=submit]:hover {
    background-color: #4d7358;
}

.light-green    { background-color: #9ed670; }
.dark-green     { background-color: #4d7358; }
.red    		{ background-color: #d64d4d; }
.orange		    { background-color: #e39e54; }
.yellow		    { background-color: #ffeead; }
.orangeText	    { color: #e39e54; font-weight: bold;}

.topnav {
  overflow: hidden;
  margin: 20px 0;
  border: 1px solid #ccc;
  
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  margin: 10px 0;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Verdana;
  font-size: 14px;
}

.topnav a:hover {
  background-color: #e39e54;
  color: black;
}

.topnav a.active {
  background-color: #d64d4d;
  color: white;
}

.topnav input[type=text] {
	border: none;
	font-size: 14px;
	height: 40px;
}
form.search { 
	display: inline-block;
	float: right;
	width: 20%;
}
form.search input[type=text] {
    width: 70%;
    margin: 12px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	float:left;
}
form.search input[type=submit] {
    color: white;
	margin: 12px 0px;
    border: none;
	width: 90px;
	
	background-image: url(images/search.svg);
	background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
	text-align: right;
	color: black;
	font-family:Verdana;
}

.task {
	margin: auto;
	width: 50%;
	padding: 0px;
}


form.yellow {
	margin: auto;
	border-style: solid;
	border-width: thin;
	border-color: #b0afaf;
	padding: 15px;
	text-align: left;
	font-size: 14px;
	font-family: Verdana;

}

form.taskCreation input[type=text] {
    width: 80%;
    margin: 12px 0px;
    border: 1px solid #b0afaf;
    font-size:14px;
}

form.taskCreation textarea{  
	min-height: 150px;
	margin: 12px 0px;
	resize: vertical; 
	border: 1px solid #b0afaf;
	box-sizing: border-box;
	padding:10px;
	font-size:14px;
	width: 93%;
}

select {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   margin: 20px;
   font-size: inherit;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
	width: 60px;
}

select#assignee {
	width: 200px;
}
input#date {
	width:30%;
}

p.light-green#created{
	width: 50%;
	width: auto;
	font-family: Verdana;
	font-size: 20px;
	color: white;
	text-align: center;
}

p.info {
	width: 50%;
	width: auto;
	font-family: Verdana;
	font-size: 20px;
	border-bottom: 1px solid #AAA;

}

.task form.yellow input.edit[type=submit] {
	margin: 12px 0px 10px 0px;
	width: 200px;
	height: 50px;
	background-image: url(images/edit.png);
	background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
	text-align: right;
	color: black;
	font-family:Verdana;
}

.task form.yellow input.complete[type=submit] {
	width: 200px;
	height: 50px;
	background-image: url(images/complete.jpg);
	background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
	text-align: right;
	color: black;
	font-family:Verdana;
}

input.edit {
	width: 40%;
    margin: 12px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

p.red#error{
	width: 50%;
	width: auto;
	font-family: Verdana;
	font-size: 20px;
	color: white;
	text-align: center;
}

table#results {
    font-family: Verdana;
    border-collapse: collapse;
    width: 60%;
	margin: auto;
}

#results td, #results th {
    border: 1px solid #ddd;
    padding: 8px;
	text-align:center;
}

#results tr:nth-child(even){
background-color: #f2f2f2;
}

#results tr:hover {
background-color: #ffeead;
}

#results th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #e39e54;
    color: white;
}

#results a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  margin: 10px 0;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Verdana;
  font-size: 16px;
}

#results a:hover {
  background-color: #e39e54;
  color: black;
}

#results a.active {
  background-color: #d64d4d;
  color: white;
}

#password {
	margin-bottom: 20px
}

.dashboard {
	table-layout: fixed;
}





